<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--首先，根标签：mapper，命名空间可以随便写，但是有一定的规范，后面说-->
<mapper namespace="com.fc.dao.StudentDao">

    <!--其实就是SQL语句，必须指定一个id，可以随便写，但是有一定的规范，后面说-->
    <!--添加-->
    <insert id="addStudent">
    insert into student(name,age,gender,birthday,info) values('花花','18','男','2021-03-12 17:19:10','村干部股份')
  </insert>
    <!--根据id查询对应的学生
    1、id要和对应接口中的方法名相同
    2、入参要和方法中的形参列表的类型相同
    3、映射结果要指定一个实体类
-->
    <!--查询-->
    <select id="findStudentById" parameterType="int" resultType="com.fc.Student">
    select * from students where id= #{id}
    </select>

    <!--查询大于指定id的学生-->
    <!--实体引用，字符实体-->

    <select id="findByCharacter" resultType="com.fc.Student">
        select * from students where id &gt;#{id}
    </select>
    <!--使用原样输出<![CDATA[****]]>-->
    <select id="findByCData" parameterType="int" resultType="com.fc.Student">
      select * from student where id <![CDATA[<=]]> #{id}
    </select>
    <!--删除-->
    <delete id="deleteStudent" parameterType="Integer">
        delete from student where id = #{id}
    </delete>
    <!--修改-->
    <update id="updateStudent" parameterType="com.fc.Student">
        update student set name = #{name} , age=#{age}, gender=#{gender}, info= #{info} where id=#{id}
    </update>

</mapper>