<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="car" class="com.fc.bean.Car">
        <property name="name" value="拖拉机"/>
    </bean>

    <bean name="user" class="com.fc.bean.User">
        <property name="name" value="卢老卢"/>
        <property name="age" value="20"/>
        <property name="car" ref="car"/>
     </bean>
</beans>