<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.EmployeeDao">
    <resultMap id="employeeMap" type="com.fc.bean.Employee">
        <id column="e_id" property="eId"/>
        <result column="e_name" property="eName"/>
        <result column="e_age" property="eAge"/>
        <result column="e_info" property="eInfo"/>
    </resultMap>

    <select id="findById" parameterType="int" resultType="com.fc.bean.Employee">
        select
        e_id eId,e_name eName,e_age eAge,e_info eInfo
        from employee01 where e_id = #{id}
    </select>

    <select id="findAll" resultMap="employeeMap">
        select * from employee01
    </select>

</mapper>