<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--首先，根标签：mapper，但是有一定的规范，必须和dao层接口名相同（完整的全限定名），必须唯一-->
<mapper namespace="com.fc.dao.MusicDao">
    <!--二级缓存-->
    <cache/>

    <!--查询全部-->
    <select id="findAll" resultType="tbMusic">
      select * from tb_music
    </select>

    <select id="findById" parameterType="Integer" resultType="tbMusic">
        select * from tb_music where music_id=${musicId}
    </select>

    <select id="search" parameterType="String" resultType="tbMusic">
        select * from tb_music where music_name like #{keyword}
        or music_artist_name like #{keyword}
    </select>



</mapper>