<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd ">


    <!--使用bean标签声明一个对象，必须指定class为完整的路径名，id或者name任选一个-->
    <bean id="user" class="com.fc.dao.impl.UserDaoImplMysql"/>

    <!--将Student交给Spring容器管理
        相当于创建了一个名为student的Student对象
    -->
    <bean id="student" class="com.fc.bean.Student"/>

</beans>