<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.DepaetmentDao">
    <resultMap id="departmentMap" type="com.fc.bean.Department">
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>

        <!--对象或者集合中可以使用select指定一个查询语句，进行嵌套查询，参数通过column进行指定-->
        <collection property="employees" javaType="List" ofType="com.fc.bean.Employee">
            <id property="eId" column="e_id"/>
            <result property="eName" column="e_name"/>
        </collection>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="departmentMap">
       select e.*,d.*
        from employee e
        inner join department d
        on e.d_id = d.d_id
        where d.d_id=#{id}
    </select>
</mapper>