<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--根标签 配置-->
<configuration>
    <!--运行环境     注意 default可以随便写但是，必须和其中一个是匹配的-->
    <properties resource="jdbc.properties"/>


    <environments default="development">
        <!--运行环境     可以有多个，id可以随便写，但是必须有一个default是一样的，必须有一个是匹配的-->
        <environment id="development">
            <!--事务管理器，不要动-->
            <transactionManager type="JDBC"/>
            <!--数据源，type：数据库的连接池，比如c3p0和druid，后天用德鲁伊-->
            <dataSource type="POOLED">
                <!--连接数据库的一些参数-->
                <!--连接数据库的一些参数，记得使用字符实体，不然无法加载配置文件-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/dev01?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--myBatis配置-->
    <!--mapper注册-->
    <mappers>
        <!--注册mapper文件所在位置  如果是在某一文件夹下，用/划分-->
        <mapper resource="DepartmentMapper.xml"/>
        <mapper resource="EmployeeMapper.xml"/>
    </mappers>
</configuration>